@import '../../../styleConfig';

app {
    display: block;
    max-width: $xl-width - 60px;
    margin: auto;

    @media screen and (max-width: $xl-width) {
        max-width: $lg-width - 60px;
    }

    @media screen and (max-width: $lg-width) {
        max-width: $md-width - 60px;
    }

    @media screen and (max-width: $md-width) {
        max-width: $sm-width - 60px;
    }
}

@font-face {
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-style: normal;
    src: url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.eot');
    src: url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.eot?#iefix') format('embedded-opentype'), local('Kaushan Script'), local('Kaushan-Script-regular'), url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.woff2') format('woff2'), url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.woff') format('woff'), url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.ttf') format('truetype'), url('/assets/fonts/Kaushan-Script-regular/Kaushan-Script-regular.svg#KaushanScript') format('svg');
}
