{
    "extends": "airbnb",
    "rules": {
        "brace-style": [
            "error",
            "stroustrup",
            {
                "allowSingleLine": true
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "ignore"
            }
        ],
        "indent": [
            "error",
            4
        ],
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "aspects": [
                    "invalidHref"
                ]
            }
        ],
        "linebreak-style": "off",
        "max-len": [
            "error",
            200
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-param-reassign": [
            2,
            {
                "props": false
            }
        ]
    },
    "globals": {
        "angular": true,
        "document": true,
        "navigator": true
    }
}