{
    "extends": "airbnb",
    "rules": {
        "brace-style": [
            "error",
            "stroustrup",
            {
                "allowSingleLine": true
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "ignore"
            }
        ],
        "indent": [
            "error",
            4
        ],
        "linebreak-style": "off",
        "max-len": [
            "error",
            200
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error"
                ]
            }
        ],
        "no-param-reassign": [2, {
            "props": false
        }]
    },
    "globals": {
        "angular": true,
        "document": true,
        "navigator": true
    }
}
