<h4>Language Features</h4>
<p>ECMAScript features of note supported through Babel (and hopefully natively in the future).</p>

<h6>ES2015</h6>
<ul>
    <li>const, let</li>
    <li>template literals</li>
    <li>arrow functions</li>
    <li>classes</li>
    <li>import/export</li>
    <li>spread operator</li>
    <li>etc...</li>
</ul>

<h6>ES2016</h6>
<ul>
    <li><a href="#" ng-click="$ctrl.testArrayIncludes(); $event.preventDefault();">array.includes</a></li>
    <li><a href="#" ng-click="$ctrl.testExponentiationOperator(); $event.preventDefault();">exponentiation operator</a></li>
</ul>

<h6>ES2017</h6>
<ul>
    <li><a href="#" ng-click="$ctrl.testObjectEntries(); $event.preventDefault();">Object.entries() && Object.values()</a></li>
    <li><a href="#" ng-click="$ctrl.testStringPadStart(); $event.preventDefault();">string.padStart() and string.padEnd()</a></li>
    <li><a href="#" ng-click="$ctrl.testAsyncFunctions(); $event.preventDefault();">Async Functions</a></li>
</ul>

<h6>ES2018</h6>

<pre>{{$ctrl.testResult}}</pre>